<!DOCTYPE html>
<html>
<head>
  <title>IqCaptcha</title>
  <%= stylesheet_link_tag    "iq_captcha/application", :media => "all" %>
  <%= javascript_include_tag "iq_captcha/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
